/* X-small device */
@media only screen and (max-width:349px) {
  .navbar-area{
    flex-direction: column;
    width: 90%;
  }
  .menu-items ul{
    gap: 10px;
  }
  .profile a img{
    width: 41px;
    height: 41px;
  }
  .container{
    width: 100%;
    
  }
  .section-title, .blog-details, .course-banner, .course-details{
    text-align: center;
  }
  .player-items, .blog-items, .latest-course{
    grid-template-columns: repeat(1, 1fr);
    gap: 30px 0;
  }
  .player, .blog{
    flex-direction: column;
  }
  .blog{
    align-items: center;
  }
}


/* Small device */
@media only screen and (min-width: 350px) and (max-width: 576px) {
  .navbar-area{
    flex-direction: column;
    width: 90%;
  }
  .menu-items ul{
    gap: 20px;
  }
  .container{
    width: 90%;
    
  }
  .section-title, .blog-details, .course-banner, .course-details{
    text-align: center;
  }
  .player-items, .blog-items, .latest-course{
    grid-template-columns: repeat(1, 1fr);
    gap: 30px 0;
  }
  .player, .blog{
    flex-direction: column;
  }
  .blog{
    align-items: center;
  }
}


/* Medium device */
@media only screen and (min-width: 577px) and (max-width: 768px){
  .header-section{
    width: 80%;
  }
  .menu-items ul{
    gap: 20px;
  }
  .container{
    width: 80%;
  }
  .player-items, .latest-course{
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
  }
  .blog-items{
    grid-template-columns: repeat(1, 1fr);
    gap: 30px 0;
  }
  .course-banner, .course-details{
    text-align: center;
  }
  .course-banner img{
    width: 170px;
    height: 90px;
  }
}


/* Large device */
@media only screen and (min-width: 769px) and (max-width: 1140px){
  .header-section{
    width: 80%;
  }
  .container{
    width: 80%;
    
  }
  .player-items, .latest-course{
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
  }
  .blog-items{
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 0;
  }
  .course-banner, .course-details{
    text-align: center;
  }
}